.header {
  display: flex;
  width: 100%;
  height: auto;
  margin: 3.5rem 0;
  /* border: 1px solid var(--dark2); */
  justify-content: center;
}

.myInfo {
  flex: 1;
}

.small {
  display: flex;
  align-items: center;
  color: var(--blue3);
  font-family: 'Lato 300';
  font-size: 1rem;
  margin-bottom: .5rem;
}

.small > img {margin-right: .5rem;}

.title {
  font-family: 'Lato 900', 'Lato 500', sans-serif;
  font-size: 12vw;
  line-height: 1;
  color: var(--white4);
}

.title:nth-child(3) {
  margin-bottom: .5rem;
}

.subtitle {
  font-size: 4vw;
  color: var(--orange1);
}

.devImage {
  width: 32vw;
  height: fit-content;
}